$config-background: #FFFFFF;
$config-title: #E1E1E1;

@import url('https://fonts.googleapis.com/css?family=VT323');

.synthConfig {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;

  .category {
  justify-content: space-evenly;
    .title {
      background-color: $config-title;
    }

    .controls {
      padding: 5px 10px;
      background-color: $config-background;
      border-right: 2px dotted black;
      border-bottom: 2px dotted black;
      border-left: 2px dotted black;
    }
  }

  label {
    display: block;
    font-weight: 900;
  }
  input[type="range"] {
    width: 70%;
    margin-right: 10px;
  }
  input[type="number"] {
    width: 25%;
    font-weight: 900;
  }
}

.filterConfig {

  label {
    display: block;
    font-weight: 900;
  }
  input[type="range"] {
    width: 70%;
    margin-right: 10px;
  }
  input[type="number"] {
    width: 25%;
    font-weight: 900;
  }

  .title {
    background-color: $config-title;
  }
  .controls {
    padding: 5px 10px;
    background: $config-background;
  }
}
